<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="${basedir}/logs/nlog-internal.log" >

  <variable name="linePrefix" value="Sistema: Klabin SRP Automação     Módulo: CLIENT     Nível: ${uppercase:${level}}     Data: ${longdate} ${newline}"/>
  <variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}}"/>

  <targets>

    <target xsi:type="File" name="AppLogs" fileName="${basedir}/logs/App_${shortdate}.log"
           layout="----------------------------------------------------------------------------------------           ${newline}
${linePrefix}
Mensagem: ${message}${newline}
Exception: ${exceptionFormat}" />

  </targets>

  <rules>

    <logger name="*" minlevel="Debug" writeTo="AppLogs"/>

  </rules>
</nlog>